{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/booth/style.css' %}">
    <title>가온체험전</title>
</head>
<body>
    <section id="top">
        <div id="logo" onclick="location.href='/';">
            <img src="{% static 'img/logo2.png' %}" alt="" width="50px">
        </div>
        {% if user.is_authenticated %}
        <div id="login">{{ user.username }}</div>
        {% else %}
        <script>location.href='/accounts/login'</script>
        {% endif %}
    </section>
    <section id="contents">
        {% block contents %}
        {% endblock %}
    </section>
</body>
</html>